# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
coverage.xml
*.log
.junit.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
Pipfile.lock

# mypy
.mypy_cache/

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode settings
.vscode/

# Mac/Linux system files
.DS_Store
Thumbs.db

# Streamlit secrets
.streamlit/secrets.toml

# Virtual environments
*.env

# Ignore Prophet models
**/prophet_model.pkl

# Spyder project settings
.spyderproject
.spyproject
